<section class="header">
    <nav class="navbar navbar-expand-lg" id="pc">
        <div class="container-fluid">
            <a href="#"><img src="logo/logo-trans2.png" alt="logo" style="height: 50px;position: relative;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 justify-content-ends">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            About Us
                        </a>
                        <ul class="dropdown-menu" style="width: 200px;">
                            <li style="margin-left: 10px;"><a class="dropdown-item" href="Exordium.html">Exordium</a>
                            </li>
                            <li style="margin-left: 10px;"><a class="dropdown-item" href="founders.html">Founders</a>
                            </li>
                            <li style="margin-left: 10px;"><a class="dropdown-item" href="team.html">Our Team</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="Commitee.html">Committees</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="registration.html">Register</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

</section>