<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commitee</title>
    <link rel="stylesheet" href="css/committees.css">
    <%-include("partials/stylesheets")%>
</head>

<body>
    <%- include("partials/header")%>
        <section class="front-page">
            <div class="container-fluid bg-overlay">
                <div class="head-box">
                    <h1>COMMITTEES 2023</h1>
                </div>
                <div class="comm-detail">
                    <p> While many other conferences are becoming almost entirely crisis-focused and adding a
                    plethora of non-traditional UN committees, DYPIMUN commits to traditional United Nations bodies and committees which
                    stress substantive debate of the most pressing issues in the world today. We believe that students benefit most from
                    such debate and real-world topics, and that DYPIMUN provides the perfect environment for serious and informative
                    discussion on a global scale. We further believe that MUN should be about diplomacy and cooperation rather than
                    competition. As such, we prioritize the educational aspects of the MUN experience, not an environment where students are
                    only focused on “winning” the competition.</p>
                </div>
            </div>

        </section>

        <!-- committees list -->

        <section class="committees-sec">

            <!-- First Committee DISEC-->
            <!-- For left fade -->
            <section id="disec" class=" left-comm">
                <div class="committees">
                    <div class="container reveal  fade-left active" id="disec-bg">
                        <div class="logo-box left-logo">
                            <img src="./logo/disec.png" alt="Earth News" class="UNlogo">
                        </div>
                        <div class="text-container left-text">
                            <div class="text-box">
                                <h2>
                                    Disarmament and International Security Committee (UNGA 1st Committee)
                                </h2>
                                <p>The First Committee deals with disarmament, global challenges and threats to peace
                                    that
                                    affect the
                                    international
                                    community and seeks out solutions to the challenges in the international security
                                    regime.
                                    Agenda -</p>
                            </div>
                            <!-- button link</div> -->
                            <!-- <div class="button-class">
                                <a href="#" class="btn btn-primary btn btn-info">EB and Agendas</a>
                                <a href="#" class="btn btn-primary btn btn-info">Country Matrix</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>


            <!-- Second Committee ECOFIN-->
            <!-- For right fade -->

            <section id="ecofin" class="right-comm">
                <div class="committees right-comm">
                    <div class="container reveal fade-right" id="ecofin-bg">
                        <div class="logo-box right-logo">
                            <img src="./logo/ECOFIN_Final.png" alt="ecofin" class="UNlogo">
                        </div>
                        <div class="text-container right-text">
                            <div class="text-box">
                                <h2>Economic and Financial Committee (UNGA 2nd Committee)</h2>
                                <p>The second committee deals with issues relating to economic growth and development
                                    such as
                                    macroeconomic policy
                                    questions; financing for development; sustainable development; globalization and
                                    interdependence;
                                    eradication of
                                    poverty; operational activities for development; agriculture development, food
                                    security and
                                    nutrition; information
                                    and
                                    communications technologies for development; and implementation of the New Urban
                                    Agenda.</p>
                            </div>
                            <!-- button link</div> -->
                            <!-- <div class="button-class">
                                <a href="#" class="btn btn-primary btn btn-info">EB and Agendas</a>
                                <a href="#" class="btn btn-primary btn btn-info">Country Matrix</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>


            <!-- Third Committee SOCHUM-->
            <!-- For left fade -->

            <section id="sochum" class=" left-comm">
                <div class="committees left-comm">
                    <div class="container reveal  fade-left active" id="sochum-bg">
                        <div class="logo-box left-logo">
                            <img src="./logo/sochum.png" alt="SOCHUM" class="UNlogo">
                        </div>
                        <div class="text-container left-text">
                            <div class="text-box">
                                <h2>Social, Cultural, and Humanitarian Committee (UNGA 3rd Committee)</h2>
                                <p>The General Assembly allocates to the Third Committee part of the work ot focus on
                                    the
                                    examination of
                                    human rights
                                    questions, including reports of the special procedures of the Human Rights Council
                                    which was
                                    established in 2006. In
                                    October 2022, the Committee will hear and interact with special rapporteurs,
                                    independent
                                    experts,
                                    and chairs of
                                    working
                                    groups as mandated by the Human Rights Council.</p>
                            </div>
                            <!-- button link</div> -->
                            <!-- <div class="button-class">
                                <a href="#" class="btn btn-primary btn btn-info">EB and Agendas</a>
                                <a href="#" class="btn btn-primary btn btn-info">Country Matrix</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>


            <!-- Fourth Committee SPECPOL-->
            <!-- For right fade -->

            <section id="specpol" class="right-comm">
                <div class="committees right-comm">
                    <div class="container reveal fade-right" id="specpol-bg">
                        <div class="logo-box right-logo">
                            <img src="./logo/specpol.png" alt="SPECPOL" class="UNlogo">
                        </div>
                        <div class="text-container right-text">
                            <div class="text-box">
                                <h2>Special Political and Decolonization (UNGA 4th Committee)</h2>
                                <p>The Special Political and Decolonization Committee (Fourth Committee) considers a
                                    broad range
                                    of
                                    issues covering a
                                    cluster of five decolonization-related agenda items, the effects of atomic
                                    radiation,
                                    questions
                                    relating to
                                    information,
                                    a comprehensive review of the question of peacekeeping operations as well as a
                                    review of
                                    special
                                    political missions,
                                    the
                                    United Nations Relief and Works Agency for Palestinian Refugees in the Near East
                                    (UNRWA),
                                    Israeli
                                    Practices and
                                    settlement activities affecting the rights of the Palestinian people and other Arabs
                                    of the
                                    occupied
                                    territories,
                                    and
                                    International cooperation in the peaceful uses of outer space.</p>
                            </div>
                            <!-- button link</div> -->
                            <!-- <div class="button-class">
                                <a href="#" class="btn btn-primary btn btn-info">EB and Agendas</a>
                                <a href="#" class="btn btn-primary btn btn-info">Country Matrix</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>


            <!-- Fifth Committee ECOSOC-->
            <!-- For left fade -->

            <section id="ecosoc" class=" left-comm">
                <div class="committees left-comm">
                    <div class="container reveal  fade-left active" id="ecosoc-bg">
                        <div class="logo-box left-logo">
                            <img src="./logo/ecosc.png" alt="ECOSOC" class="UNlogo">
                        </div>
                        <div class="text-container left-text">
                            <div class="text-box">
                                <h2>Economic and Social Council</h2>
                                <p>Sustainable development is the international community's most urgent priority, and
                                    the core
                                    aim of
                                    the 2030
                                    Development
                                    Agenda for sustainable development. ECOSOC operates at the centre of the UN system's
                                    work on
                                    all
                                    three pillars of
                                    sustainable development-economic, social and environmental.</p>
                            </div>
                            <!-- button link</div> -->
                            <!-- <div class="button-class">
                                <a href="#" class="btn btn-primary btn btn-info">EB and Agendas</a>
                                <a href="#" class="btn btn-primary btn btn-info">Country Matrix</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>


            <!-- Sixth Committee UNGA-->
            <!-- For right fade -->

            <section id="unga" class="right-comm">
                <div class="committees right-comm">
                    <div class="container reveal fade-right" id="unga-bg">
                        <div class="logo-box right-logo">
                            <img src="./logo/unga.png" alt="UNGA" class="UNlogo">
                        </div>
                        <div class="text-container right-text">
                            <div class="text-box">
                                <h2>General Assembly (UNGA)</h2>
                                <p>The UN General Assembly (UNGA) is the main policy-making organ of the Organization.
                                    Comprising all
                                    Member States, it
                                    provides a unique forum for multilateral discussion of the full spectrum of
                                    international
                                    issues
                                    covered by the
                                    Charter of the United Nations.</p>
                            </div>
                            <!-- button link</div> -->
                            <!-- <div class="button-class">
                                <a href="#" class="btn btn-primary btn btn-info">EB and Agendas</a>
                                <a href="#" class="btn btn-primary btn btn-info">Country Matrix</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>


            <!-- Seventh Committee UNSC-->
            <!-- For left fade -->

            <section id="unsc" class=" left-comm">
                <div class="committees left-comm">
                    <div class="container reveal  fade-left active" id="unsc-bg">
                        <div class="logo-box left-logo">
                            <img src="./logo/unsc.png" alt="UNSC" class="UNlogo">
                        </div>
                        <div class="text-container left-text">
                            <div class="text-box">
                                <h2>Security Council</h2>
                                <p>The Security Council has primary responsibility for the maintenance of international
                                    peace
                                    and
                                    security. It has 15
                                    Members, and each Member has one vote. Under the Charter of the United Nations, all
                                    Member
                                    States
                                    are obligated to
                                    comply with Council decisions.</p>
                            </div>
                            <!-- button link</div> -->
                            <!-- <div class="button-class">
                                <a href="#" class="btn btn-primary btn btn-info">EB and Agendas</a>
                                <a href="#" class="btn btn-primary btn btn-info">Country Matrix</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>


            <!-- Eighth Committee UNESCO-->
            <!-- For right fade -->

            <section id="unesco" class="right-comm">
                <div class="committees right-comm">
                    <div class="container reveal fade-right" id="unesco-bg">
                        <div class="logo-box right-logo">
                            <img src="./logo/unesco.png" alt="UNESCO" class="UNlogo">
                        </div>
                        <div class="text-container right-text">
                            <div class="text-box">
                                <h2>UN Educational, Scientific, and Cultural Organization</h2>
                                <p>UNESCO uses education, science, culture, communication and information to foster
                                    mutual
                                    understanding
                                    and respect for
                                    our planet. We work to strengthen the intellectual and moral solidarity of
                                    humankind.</p>
                            </div>
                            <!-- button link</div> -->
                            <!-- <div class="button-class">
                                <a href="#" class="btn btn-primary btn btn-info">EB and Agendas</a>
                                <a href="#" class="btn btn-primary btn btn-info">Country Matrix</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>


            <!-- Ninth Committee UNCTAD-->
            <!-- For left fade -->

            <section id="unctad" class=" left-comm">
                <div class="committees left-comm">
                    <div class="container reveal  fade-left active" id="unctad-bg">
                        <div class="logo-box left-logo">
                            <img src="./logo/unctad.png" alt="unctad" class="UNlogo">
                        </div>
                        <div class="text-container left-text">
                            <div class="text-box">
                                <h2>United Nations Conference on Trade and Development</h2>
                                <p>We support developing countries to access the benefits of a globalized economy more
                                    fairly
                                    and effectively.
                                    And we
                                    help
                                    equip them to deal with the potential drawbacks of greater economic integration. To
                                    do this,
                                    we provide
                                    analysis,
                                    facilitate consensus-building, and offer technical assistance.</p>
                            </div>
                            <!-- button link</div> -->
                            <!-- <div class="button-class">
                                <a href="#" class="btn btn-primary btn btn-info">EB and Agendas</a>
                                <a href="#" class="btn btn-primary btn btn-info">Country Matrix</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>


            <!-- Tenth Committee G20-->
            <!-- For right fade -->

            <section id="g20" class="right-comm">
                <div class="committees right-comm">
                    <div class="container reveal fade-right" id="g20-bg">
                        <div class="logo-box right-logo">
                            <img src="./logo/g20-logo.png" alt="G20" class="UNlogo">
                        </div>
                        <div class="text-container right-text">
                            <div class="text-box">
                                <h2>G20 Group of Twenty</h2>
                                <p>The G20 is a strategic multilateral platform connecting the world's major developed
                                    and
                                    emerging
                                    economies. The G20
                                    holds a strategic role in securing future global economic growth and prosperity.
                                    Together,
                                    the G20
                                    members represent
                                    more than 80 percent of world GDP, 75 percent of international trade and 60 percent
                                    of the
                                    world
                                    population.</p>
                            </div>
                            <!-- button link</div> -->
                            <!-- <div class="button-class">
                                <a href="#" class="btn btn-primary btn btn-info">EB and Agendas</a>
                                <a href="#" class="btn btn-primary btn btn-info">Country Matrix</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>

        </section>
        <%- include("partials/footer")%>
        <script>function reveal() {
                var reveals = document.querySelectorAll(".reveal");

                for (var i = 0; i < reveals.length; i++) {
                    var windowHeight = window.innerHeight;
                    var elementTop = reveals[i].getBoundingClientRect().top;
                    var elementVisible = 150;

                    if (elementTop < windowHeight - elementVisible) {
                        reveals[i].classList.add("active");
                    } else {
                        reveals[i].classList.remove("active");
                    }
                }
            }
            window.addEventListener("scroll", reveal);
        </script>
</body>

</html>