<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exordium</title>
    <link rel="stylesheet" href="css/exordium.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <section class="front-page">
        <div class="container-fluid bg-overlay">
            <div class="DYP container">
                <h1>D. Y Patil University</h1>
                <p>D Y Patil University spreads across 40 acres of lush green state of the art campus which provides facilities
                    including
                    indoor sports, cricket stadiums, well equipped labs and technology enabled classrooms sitting under great
                    architectural
                    structures.The effort has been made to engender innovation, creativity coupled with rational thinking in young
                    intellectuals who can appreciate sustainable socio-cultural values and feel proud to be professionals
                    contributing to
                    the welfare of mankind and global community.
            
                <h5>BELIEVE & BECOME!!!</h5>
            
                <p>Hurry up Grab your chance to participate in DYPIMUN and experience the hospitality of D Y Patil University. Let’s
                    meet
                    on 27th Jan!!</p>
            </div>
        </div>
    </section>

    <section class="MUN">
        <div class="MUN-text container">
            <h1 id="MUN-heading">What is MUN?</h1>
            <p style="margin: 10px;">Model United Nations is an academic simulation of the United Nations where students play the role of delegates
                from
                different countries and attempt to solve real world issues with the policies and perspectives of their assigned
                country.
                For example, a student may be assigned the United Kingdom and will have to solve global topics such as nuclear
                non-proliferation or climate change from the policies and perspectives of the United Kingdom.</p>
        
            <p style="margin: 10px;">Students can attend Model United Nations conferences around the world and from the comfort of their own homes
                withstyle="margin: 10px;"
                online conferences. These conferences are organized by universities, high schools, non-profit organizations, and
                other
                educational groups. Conferences are offered for different academic levels: college and university, high school,
                middle
                school, and grade school. There is no central governing body for Model UN — any school can create a Model UN
                team and
                register for any Model UN conference they wish to attend.</p>
        </div>
    
        <div class="MUN-img">
            <img src="./logo/mun-exordium.jpg" alt="MUN" id="MUN-image">
        </div>
    </section>

    <section class="missions-sec">
        <div class="mission-text container">
            <h1 id="mission-heading">Our Mission</h1>
            <p style="margin: 10px;">National Model United Nations (NMUN) is a U.S. 501(c)(3) nonprofit organization that
                advances
                understanding
                of
                the
                United Nations and contemporary international issues. We positively affect the lives of participants and
                prepare
                them to
                be better global citizens through quality educational experiences that emphasize collaboration and
                cooperative
                resolution of conflict. We envision a world comprised of civically engaged people who strive for peaceful,
                multilateral
                conflict resolution and equitable, sustainable human development.</p>
        
            <p style="margin: 10px;">Only a few things in the world can be achieved alone. To be a harbinger of Global Change or
                to achieve
                anything
                for
                that matter, we need people to cooperate, to understand our vision and be able to negotiate terms to benefit
                our
                agenda.</p>
        </div>
    </section>

    <section class="prepare-sec">
        <div class="prepare-container">
            <div class="preparation-text container">
                <h2>How do I prepare for my first conference?</h2>
                <p>Once you have signed up for a conference, you will receive your country assignment, your committee, and its
                    topics.
                    Most
                    conferences provide a Background Guide or Topic Synopsis that introduces the topics read that first.</p>
        
                <p>There are typically three items to prepare before you walk into your first conference: the Position Paper
                    (sometimes
                    called a Policy Statement), your Opening Speech, and a Research Binder. Some novice conferences may also
                    require a
                    Country Profile.</p>
            </div>
        </div>
    </section>

    <section class="position-paper">
        <div class="position-para">
            <h3>1. Position Paper (or Policy Statement)</h3>
            <p>The <a href="https://bestdelegate.com/a-formula-for-the-perfect-position-paper-solution-oriented-research/">Position
                    Paper</a> is <b>a one or two page document that is essentially a summary of your knowledge of the topic and the
                    position your country plans to take when it enters committee.</b>It typically contains four sections: Background
                of Topic,
                Past International Actions, Country Policy, and Possible Solutions. Position Papers are usually due before the
                conference.</p>
            
            <p>The key starting points for researching each section are listed below. They will help you get started with
                participating
                in your first Model UN conference, but you will want to dig deeper as you develop more experience.</p>
        </div>
        
        
        <div class="position-points">
            <div class="first-point pos-point">
                <div class="position-icon">
                    <img src="https://img.icons8.com/ultraviolet/40/000000/checkmark--v1.png" />
                    <h4>Background of topic:</h4>
                </div>
                <p class="pos-para">Background guide of the topic provided by the conference, Google, the news,
                Wikipedia (to frame the
                topic)</p>
                
            </div>
            <div class="second-point pos-point">
                <div class="position-icon">
                    <img src="https://img.icons8.com/ultraviolet/40/000000/checkmark--v1.png" />
                    <h4>Past international actions:</h4>
                </div>
                <p class="pos-para">UN website, your committee's website, key treaties or resolutions mentioned
                in your background guide, UN or NGO reports</p>
                
            </div>
            <div class="third-point pos-point">
                <div class="position-icon">
                    <img src="https://img.icons8.com/ultraviolet/40/000000/checkmark--v1.png" />
                    <h4>Country policy:</h4>
                </div>
                 
                <p class="pos-para">CIA World Factbook, your country's foreign ministry website, domestic programs within
                your country, and your country's voting record on key treaties or resolutions.</p>
                 
            </div>
            <div class="fourth-point pos-point">
                <div class="position-icon">
                    <img src="https://img.icons8.com/ultraviolet/40/000000/checkmark--v1.png" />
                    <h4>Possible Solutions:</h4>
                </div>
                <p class="pos-para">NGO or think tank policy recommendations, past UN resolutions that you'd like to
                change or expand on, and your own creativity!</p>
                 
            </div>
            
            
            
            
        </div>
        </div>
    </section>


    <section class="openSpeech-and-Research-sec">
        <div class="opening container">
            <h3>2. Opening Speech</h3>
            <p>The <a href="https://bestdelegate.com/wimun-guide-to-acing-a-debate/">Opening Speech</a> typically lasts about 1
                minute or 1 minute and 30 seconds and is the first speech you give to the
                committee. It is the <b>best opportunity for you to explain your country policy</b> and the key sub-issues you
                would like the
                committee to focus on. Opening Speeches are the main way for countries to determine who they want to work with,
                so it's
                important to prepare a speech that conveys this. There are many tips and strategies on how to deliver an Opening
                Speech,
                but use your Position Paper as a guide when you are starting out. The most important action is to just be brave
                and make
                your first speech.</p>
        </div>

        <div class="research container">
            <h3>3. Research Binder</h3>
            <p>Research Binders are <b>optional but highly recommended</b>, especially since many conferences do not allow the
                use of
                technology in committee. An organized Research Binder will be your go-to resource during the conference as new
                terms and
                acronyms, previous resolutions and treaties, and possible solutions are mentioned. Here is a suggested list of
                <a
                    href="https://bestdelegate.com/mun-research-made-easy-15-things-every-delegate-should-have-in-their-research-binder/">15
                    things
                    every delegate should have for their Research Binder.</a>
            </p>
        </div>
    </section>


    <section class="resolution-and-profile-sec">
        <div class="resolution container">
            <h3>4. How to Write a Resolution</h3>
            <p>Delegates will be <b>writing a document called a Resolution</b> in committee along with other countries that they
                will be
                working with. It's important to know the resolution format and phrases, but most conferences do not allow
                pre-written
                resolutions since they want countries to collaborate together during the committee. For more specific details,
                check out
                <a href="https://bestdelegate.com/model-un-made-easy-how-to-write-a-resolution/">How to Write a Resolution.</a>
            </p>
        </div>

        <div class="image-exo">
            <img src="./logo/Mun_logo_1200x900_34fa2846df475c32f333a28bf38db0f5-removebg-preview.png" alt="MUN" id="img-exo">
        </div>

        <div class="image-exo2">
            <img src="./logo/creative-clipart-brainstorming-removebg-preview.png" alt="MUN" width="400">
        </div>

        <div class="country-profile container">
            <h3>5. Country Profile</h3>
            <p>The <a href="https://bestdelegate.com/wp-content/uploads/2011/09/Best-Delegate-Country-Profile.pdf">Country
                    Profile</a> is a worksheet to <b>help you understand your country</b> and may not necessarily be required by
                your
                conference. If required, Country Profiles are usually due at the same time as the Position Paper.</p>
        </div>
    </section>

    </section>
</body>
</html>