<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exordium</title>
    <link rel="stylesheet" href="css/exordium.css">
    <%-include("partials/stylesheets")%>
</head>

<body>
    <%- include("partials/header")%>
    <section class="front-page">
        <div class="container-fluid bg-overlay">
            <!-- <div class="DYP-img container">
                
            </div> -->


            <div class="DYP container">
                <h1>D. Y Patil University</h1>
                <p>DY Patil University (DYPU), in its 20th Glorious year, continues to value the intellects and growing
                    keenness of every
                    scholar and to be ahead of several universities. The university is nationally level accredited with
                    AICTE. Acknowledged
                    by major organizations and corporations, here at DYPU, every challenge dealt with enthusiasm rather
                    than concern,
                    academics aced with courage rather than fear, and lives made with diligence rather than a blessing.
                    Young minds at our
                    universities are thriving in leading enterprises and have been driving their firms ahead with their
                    brilliant intellect,
                    astonishing originality, and passion for advancements. The environment assists every individual that
                    brings out their
                    finest and unsurpassed work. All our students of ours grind to get their piece of work as a
                    masterpiece. Our mission is
                    to cherish mistakes and get the best of our learners so they can enhance their abilities to their
                    best potential.
                </p>
            </div>
        </div>
    </section>

    <section class="MUN">
        <div class="MUN-text container">
            <h1 id="MUN-heading">About DYPIMUN</h1>
            <p style="margin: 10px;">With the idea of bringing hundreds of young minds together for the pursuit of world
                peace, we, at DYPIMUN, teach
                students about diplomacy, international relations, and the United Nations.
                One of the largest stimulation to give students insights about how the Executive board, International
                Press and
                International Delegates consolidate function in the United Nations
                Allowing ardent minds to debate and negotiate to solve the biggest problems that the world is currently
                facing today. As
                we believe that impactful decisions can only be made when everybody comes together to speak up, discuss
                and agree to
                work on their resolutions.</p>

            <p style="margin: 10px;">D Y Patil University (DYPU) is organizing its first ever MUN and you all are
                invited to be a part of it. Now, we have
                got an opportunity to present our great in the DYPIMUN. Our youth is our future and we are going to
                paint our future,
                our way. You are being invited to learn and share ideas from a diverse set of experiences and
                backgrounds where the
                Executive board, International Press and International Delegates consolidate to learn about diplomacy,
                international
                relations, and the United Nations.</p>
        </div>

        <div class="MUN-img">
            <img src="./logo/mun-exordium.jpg" alt="MUN" id="MUN-image">
        </div>
    </section>

    <section class="missions-sec">
        <div class="mission-text container">
            <h1 id="mission-heading">Our Mission</h1>
            <p style="margin: 10px;">National Model United Nations (NMUN) is a U.S. 501(c)(3) nonprofit organization
                that
                advances
                understanding
                of
                the
                United Nations and contemporary international issues. We positively affect the lives of participants and
                prepare
                them to
                be better global citizens through quality educational experiences that emphasize collaboration and
                cooperative
                resolution of conflict. We envision a world comprised of civically engaged people who strive for
                peaceful,
                multilateral
                conflict resolution and equitable, sustainable human development.</p>

            <p style="margin: 10px;">Only a few things in the world can be achieved alone. To be a harbinger of Global
                Change or
                to achieve
                anything
                for
                that matter, we need people to cooperate, to understand our vision and be able to negotiate terms to
                benefit
                our
                agenda.</p>
        </div>
    </section>

    <section class="vision-sec">
        <div class="vision-container">
            <div class="vision-text container">
                <h2>Our Vision</h2>
                <p>Our vision at DYPIMUN is to ensure that the students of today are the effective and efficient leaders
                    of tomorrow, with
                    developed interpersonal, public speaking, writing, and research skills. Additionally, we envision a
                    future where all
                    participating students have high levels of self-esteem and self-confidence, which are qualities that
                    can help them widen
                    their circle of friends and in their future endeavors, and ultimately shape their path to success.
                </p>
            </div>
        </div>
    </section>

    <section class="end" style="height: 25%;">

    </section>
    <%- include("partials/footer")%>
</body>

</html>