<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=" width = device-width, 
            initial-scale = 1.0">


    <!-- stylesheets -->
    <link rel="stylesheet" href="css/styles.css" media="screen">
    <link rel="stylesheet" href="css/map.css" media="screen">
    <link rel="stylesheet" href="css/schedule.css" media="screen">
    <%-include("partials/stylesheets")%>






        <title>DYPIMUN</title>


</head>

<body>
    <%- include("partials/header")%>
        <!-- front page bg -->

        <section class="front-page" style="margin: 0;">
            <div class="container-fluid bg-overlay">
                <div class="text-box">
                    <h1>D. Y. Patil University<br>International Model United Nations</h1>
                    <p>26th and 27th Jan 2023</p>
                    <a href="registration" class="hero-btn">Register Now</a>

                </div>
            </div>
        </section>

        <!-- committees card -->

        <section class="mid-sec">
            <div class="container">
                <h2 class="committees-heading head-layout">Committees</h2>
                <div class="container card-section">

                    <!-- first committees disec-->

                    <div class="box">
                        <div class="card-body top-left">
                            <div class="imgContainer">
                                <img src="logo/R-removebg-preview.png" alt=""
                                    style="background: linear-gradient(135deg, black, #3a3a3a);">
                            </div>
                            <div class="content d-flex flex-column align-items-center justify-content-center top-left">
                                <div>
                                    <h3 class="text-white fs-5">DISEC</h3>
                                    <p class="card-para text-white">The DISEC was formed to respond to the need for an
                                        international
                                        forum to discuss peace
                                        and security issues among members of the international community.</p>
                                    <a href="./commitee#disec" class="btn btn-outline-dark">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- second committees ecofin-->

                    <div class="box">
                        <div class="card-body top-mid">
                            <div class="imgContainer">
                                <img src="logo/ECOFIN_Final.png" alt=""
                                    style="background: linear-gradient(180deg, black, #3a3a3a);">
                            </div>
                            <div class="content d-flex flex-column align-items-center justify-content-center top-mid">
                                <div>
                                    <h3 class="text-white fs-5">ECOFIN</h3>
                                    <p class="card-para text-white">The Economic and Financial Affairs Council (ECOFIN)
                                        is responsible
                                        for EU policy in three main areas: economic policy,
                                        taxation issues and the regulation of financial services.</p>
                                    <a href="./commitee#ecofin" class="btn btn-outline-dark">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- third committees sochum-->

                    <div class="box">
                        <div class="card-body top-right">
                            <div class="imgContainer">
                                <img src="logo/sochum.png" alt=""
                                    style="background: linear-gradient(225deg, black, #3a3a3a);">
                            </div>
                            <div class="content d-flex flex-column align-items-center justify-content-center top-right">
                                <div>
                                    <h3 class="text-white fs-5">SOCHUM</h3>
                                    <p class="card-para text-white">Social,
                                        Humanitarian and Cultural Committee, is a
                                        United Nations body that focuses on a broad spectrum of topics regarding the
                                        protection of human
                                        rights.</p>
                                    <a href="./commitee#sochum" class="btn btn-outline-dark">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- fourth committees specpol-->

                    <div class="box">
                        <div class="card-body mid-left">
                            <div class="imgContainer">
                                <img src="logo/specpol.png" alt=""
                                    style="background: linear-gradient(90deg, black, #3a3a3a);">
                            </div>
                            <div class="content d-flex flex-column align-items-center justify-content-center mid-left">
                                <div>
                                    <h3 class="text-white fs-5">SPECPOL</h3>
                                    <p class="card-para text-white">The Special Political and Decolonization
                                        Committee, SPECPOL is a combination of the Decolonization Committee
                                        and the Special Political Committee.</p>
                                    <a href="./commitee#specpol" class="btn btn-outline-dark">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- fifth committees ecosoc-->

                    <div class="box">
                        <div class="card-body mid-mid">
                            <div class="imgContainer">
                                <img src="logo/ecosc.png" alt=""
                                    style="background: radial-gradient(black, #3a3a3a, black)">
                            </div>
                            <div class="content d-flex flex-column align-items-center justify-content-center mid-mid">
                                <div>
                                    <h3 class="text-white fs-5">ECOSOC</h3>
                                    <p class="card-para text-white">The Economic and Social Council is at the heart of
                                        the United
                                        Nations system to advance the three dimensions of
                                        sustainable development – economic, social and environmental.</p>
                                    <a href="./commitee#ecosoc" class="btn btn-outline-dark">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- sixth committees unga-->

                    <div class="box">
                        <div class="card-body mid-right">
                            <div class="imgContainer">
                                <img src="logo/unga.png" alt=""
                                    style="background: linear-gradient(270deg, black, #3a3a3a);">
                            </div>
                            <div class="content d-flex flex-column align-items-center justify-content-center mid-right">
                                <div>
                                    <h3 class="text-white fs-5">UNGA</h3>
                                    <p class="card-para text-white">The UN General Assembly (UNGA) is the main
                                        policy-making. Comprising all Member States, it
                                        provides a unique forum for discussion of the full spectrum of
                                        international issues covered by the Charter
                                        of the UN.</p>
                                    <a href="./commitee#unga" class="btn btn-outline-dark">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- seventh committees unsc-->

                    <div class="box">
                        <div class="card-body low-left">
                            <div class="imgContainer">
                                <img src="logo/unsc.png" alt=""
                                    style="background: linear-gradient(45deg, black, #3a3a3a);">
                            </div>
                            <div class="content d-flex flex-column align-items-center justify-content-center low-left">
                                <div>
                                    <h3 class="text-white fs-5">UNSC</h3>
                                    <p class="card-para text-white">The United Nations Security Council is
                                        charged with ensuring international peace and security, recommending the
                                        admission of new UN
                                        members to the General
                                        Assembly.</p>
                                    <a href="./commitee#unsc" class="btn btn-outline-dark">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- eighth committees unesco-->

                    <div class="box">
                        <div class="card-body low-mid">
                            <div class="imgContainer">
                                <img src="logo/unesco-logo.webp" alt=""
                                    style="background: linear-gradient(0deg, black, #3a3a3a);">
                            </div>
                            <div class="content d-flex flex-column align-items-center justify-content-center low-mid">
                                <div>
                                    <h3 class="text-white fs-5">UNESCO</h3>
                                    <p class="card-para text-white">The United Nations Educational, Scientific and
                                        Cultural Organization
                                        aimed at promoting world peace and security through international cooperation in
                                        education,
                                        arts, sciences and
                                        culture.</p>
                                    <a href="./commitee#unesco" class="btn btn-outline-dark">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ninth committees unctad-->

                    <div class="box">
                        <div class="card-body low-right">
                            <div class="imgContainer">
                                <img src="logo/unctad.png" alt=""
                                    style="background: linear-gradient(315deg, black, #3a3a3a);">
                            </div>
                            <div class="content d-flex flex-column align-items-center justify-content-center low-right">
                                <div>
                                    <h3 class="text-white fs-5">UNCTAD</h3>
                                    <p class="card-para text-white">The United Nations Conference on Trade and
                                        Development (UNCTAD) is a
                                        body of the UN that aims to develop opportunities,
                                        investments and trade in developing countries.</p>
                                    <a href="./commitee#unctad" class="btn btn-outline-dark">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- tenth committees g20-->

                    <div class="box">
                        <div class="card-body low-low">
                            <div class="imgContainer">
                                <img src="logo/g20-logo.png" alt=""
                                    style="background: linear-gradient(0deg, black, #3a3a3a);">
                            </div>
                            <div class="content d-flex flex-column align-items-center justify-content-center low-low">
                                <div>
                                    <h3 class="text-white fs-5">G20</h3>
                                    <p class="card-para text-white">The G20 comprise of
                                        19 countries and the European Union. It works
                                        to address major issues related to the global economy, such as international
                                        financial
                                        stability, climate change
                                        mitigation, and sustainable development</p>
                                    <a href="./commitee#g20" class="btn btn-outline-dark">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <!-- schedule of event -->
        <section class="schedule-sec">
            <div class="width-1140">
                <h2 class=" head-layout">event Itinerary</h2>
                <div class="tab">
                    <button class="tablinks active" onclick="openCity(event, '26jan')">Day 1</button>
                    <button class="tablinks" onclick="openCity(event, '27jan')">Day 2</button>
                </div>

                <!-- Tab content -->
                <!-- Day 1 Schedule -->

                <div id="26jan" class="tabcontent" style="display: block;">
                    <table class="table table-striped table-hover">
                        <colgroup>
                            <col width="50%">
                            <col width="50%">
                        </colgroup>
                        <tbody class="u-table-alt-grey-5 u-table-body">
                            <tr style="height: 50px;">
                                <td class="u-table-cell"> Check In</td>
                                <td class="u-table-cell">8.30<br>
                                </td>
                            </tr>
                            <tr style="height: 50px;">
                                <td class="u-table-cell">Opening Ceremony</td>
                                <td class="u-table-cell">9.00</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td class="u-table-cell"> Council Session 1</td>
                                <td class="u-table-cell">9.30</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td class="u-table-cell">Lunch</td>
                                <td class="u-table-cell">12.00</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td class="u-table-cell">Council Session 2</td>
                                <td class="u-table-cell">13.30</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td class="u-table-cell"> Break</td>
                                <td class="u-table-cell">15.30</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td class="u-table-cell"> Council Session 3</td>
                                <td class="u-table-cell">16.00</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td class="u-table-cell"> Council Ends</td>
                                <td class="u-table-cell">18.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Day 2 Schedule -->

                <div id="27jan" class="tabcontent">
                    <table class="table table-striped table-hover">
                        <colgroup>
                            <col width="50%">
                            <col width="50%">
                        </colgroup>
                        <tbody class="u-table-alt-grey-5 u-table-body">
                            <tr style="height: 50px;">
                                <td class="u-table-cell"> Council Session 4</td>
                                <td class="u-table-cell">&nbsp;08.30</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td class="u-table-cell">Break</td>
                                <td class="u-table-cell">10.00</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td class="u-table-cell"> Council Session 5</td>
                                <td class="u-table-cell">10.30</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td class="u-table-cell">Lunch</td>
                                <td class="u-table-cell">12.00</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td class="u-table-cell">Council Session 6</td>
                                <td class="u-table-cell">13.30</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td class="u-table-cell"> social star night</td>
                                <td class="u-table-cell">16.00</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td class="u-table-cell"> Closing Ceremony</td>
                                <td class="u-table-cell">19.00</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td class="u-table-cell"> Conference Adjourn</td>
                                <td class="u-table-cell">20.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </section>

        <!-- map section -->
        <section class="map-sec">
            <div class="width-1140 dis-flex height-610">
                <div class="contact-layout"></div>
                <div class="u-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7131.754902433574!2d73.66289851707755!3d18.75731774893868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b21042c4bb05%3A0x520021c08d263b1e!2sDY%20PATIL%20UNIVERSITY%20PUNE%2C%20AMBI!5e0!3m2!1sen!2sin!4v1670146727924!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="map-frame"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="address-layout">
                    <div class="address-layout-inner dis-flex">
                        <h4 class="address-head">Contact us</h4>
                        <p class="address-para"><b>Email: </b>
                            <br><a href="mailto:dypimun.delegateaffairs@gmail.com" id="email-contact">dypimun.delegateaffairs@gmail.com</a>
                        </p>

                        <p class="address-para"><b>Contact: </b>
                            <br><a href="tel:+917385083351">Meghna desai: +91 738 508 3351</a>
                            <br><a href="tel:+919423338493">Areeb Ansari: +91 94233 38493</a>
                        </p>

                        <p class="address-para"><b>Address: </b>
                            <br>Sr. No. 124 & 126, A/p Ambi MIDC Road, <br>Tal Maval, Talegaon Dabhade, Maharashtra
                            410506
                        </p>

                    </div>
                </div>
            </div>
        </section>
        <!-- footer -->
        <%- include("partials/footer")%>
            <script class="u-script" type="text/javascript" src="js/tab.js" defer=""></script>
</body>

</html>