<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preparation</title>

    <!-- stylesheet  -->
    <link rel="stylesheet" href="./css/preparation.css" media="screen">
    <%-include("partials/stylesheets")%>
</head>

<body>
    <%- include("partials/header")%>



        <section class="first-page video-bg  video-page">
            <div class="video-cover video-page">prep-container-layout
                <div class="iframe  video-page">
                    <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"
                        class="embed-responsive-item"
                        src="https://www.youtube.com/embed/iia8HIsvqmw?playlist=iia8HIsvqmw&amp;loop=1&amp;mute=1&amp;showinfo=0&amp;controls=0&amp;start=0&amp;autoplay=1"
                        data-autoplay="1" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="opacity"></div>
            <h1 class="head-title">Preparation</h1>
        </section>

        <section class="second-page preparation-sec">
            <div class="expanded-bg"></div>
            <img src="logo/prepare.jpg" alt="" class="prep-img">
            <div class="prep-container">
                <div class="prep-container-layout">
                    <h3 class="prep-heading"><b>How do I prepare for my first conference?</b>
                    </h3>
                    <p class="prep-para">Once you have signed up for a conference, you
                        will receive your country assignment, your committee, and its topics. Most conferences provide a
                        Background Guide or Topic Synopsis that introduces the topics — read that first.There are
                        typically
                        three items to prepare before you walk into your first conference: the Position Paper (sometimes
                        called a Policy Statement), your Opening Speech, and a Research Binder. Some novice conferences
                        may
                        also require a Country Profile.</p>
                </div>
            </div>
        </section>

        <section class="third-page position-sec">
            <div class="position-container">
                <div class="position-flex">
                    <div class="pos-con">
                        <div class="pos-img-container">
                            <img src="logo/position.jpg" alt="" class="position-image">
                        </div>
                    </div>
                    <div class="pos-con">
                        <div class="pos-text-container">
                            <h2 class="position-heading">
                                1. Position Paper&nbsp;
                            </h2>
                            <p class="position-para"><b>The<a
                                        href="https://bestdelegate.com/a-formula-for-the-perfect-position-paper-solution-oriented-research/">
                                        Position Paper</a> is a one or two page document that is essentially a summary
                                    of your knowledge of the topic and the position your country plans to take when it
                                    enters committee. It typically contains four sections: Background of Topic, Past
                                    International Actions, Country Policy, and Possible Solutions. Position Papers are
                                    usually due before the conference.</b>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section class="fourth-page">
            <div class="fourth-page-bg"></div>
            <h2 class="position-point-heading">The key starting points for researching each section are listed below.
                They
                will
                help you get started with participating in your first Model UN conference, but you
                will want to dig deeper as you develop more experience.</h2>
            <div class="position-page-container">
                <div class="position-point-layout">
                    <div class="pos-layout-row">
                        <div class="pos-layout-col">
                            <div class="pos-cell pos-empty-cell">
                                <div class="pos-container-layout"></div>
                            </div>
                            <div class="pos-cell pos-cell-full">
                                <div class="pos-row1-cell">
                                    <div class="pos-icon"><img src="./logo/preparation/icons8-researching-50.png"
                                            class="icon-img" alt="icon1"></div>
                                    <h5 class="position-pnt-heading">Past international
                                        actions
                                    </h5>
                                    <p class="position-pnt-para">UN website, your committee’s
                                        website, key treaties or resolutions mentioned in your background guide, UN or
                                        NGO reports
                                    </p>
                                </div>
                            </div>

                            <div class="pos-cell pos-cell-full">
                                <div class="pos-row1-cell">
                                    <div class="pos-icon"><img src="./logo/preparation/icons8-solution-64.png"
                                            class="icon-img" width="78" alt="icon2"></div>
                                    <h5 class="position-pnt-heading">Possible Solutions
                                    </h5>
                                    <p class="position-pnt-para">NGO or think tank policy
                                        recommendations, past UN resolutions that you’d like to change or expand on, and
                                        your own creativity!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pos-layout-row">
                        <div class="pos-layout-col">

                            <div class="pos-cell pos-cell-full">
                                <div class="pos-row1-cell">
                                    <div class="pos-icon"><img src="./logo/preparation/icons8-important-topics-48.png"
                                            class="icon-img" alt="icon3"></div>
                                    <h5 class="position-pnt-heading">Background of topic
                                    </h5>
                                    <p class="position-pnt-para">Background guide of the topic
                                        provided by the conference, Google, the news, Wikipedia (to frame the
                                        topic)
                                    </p>
                                </div>
                            </div>

                            <div class="pos-cell pos-cell-full">
                                <div class="pos-row1-cell">
                                    <div class="pos-icon"><img src="./logo/preparation/icons8-policy-68.png"
                                            class="icon-img" alt="i class=" icon-img"con4"></div>
                                    <h5 class="position-pnt-heading">Country policy
                                    </h5>
                                    <p class="position-pnt-para">CIA World Factbook, your country’s
                                        foreign ministry website, domestic programs within your country, and your
                                        country’s voting record on key treaties or resolutions
                                    </p>
                                </div>
                            </div>

                            <div class="pos-cell pos-empty-cell">
                                <div class="pos-container-layout"></div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </section>

        <section class="fifth-page">
            <div class="opening-container">
                <div class="opening-speech-box">
                    <div class="opening-speech" style="padding:30px;">
                        <h2 class="os-heading"><b>2. Opening Speech</b>
                        </h2>
                        <p class="os-para"><b>The <a href="https://bestdelegate.com/wimun-guide-to-acing-a-debate/"
                                    class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">Opening
                                    Speech</a> typically lasts about 1 minute or 1 minute and 30 seconds and is the
                                first
                                speech
                                you give to the committee. It is the best opportunity for you to explain your country
                                policy
                                and
                                the key sub-issues you would like the committee to focus on. Opening Speeches are the
                                main
                                way
                                for countries to determine who they want to work with, so it’s important to prepare a
                                speech
                                that conveys this. There are many tips and strategies on how to deliver an Opening
                                Speech,
                                but
                                use your Position Paper as a guide when you are starting out. The most important action
                                is
                                to
                                just be brave and make your first speech.</b>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="sixth-page">
            <div class="research-page">
                <div class="research-layout">
                    <div class="research-img">
                        <div class="res-image">
                            <img src="./logo/sixth-prepare.webp" alt="" style="width: 100%;">
                        </div>
                    </div>
                    <div class="research-text-layout">
                        <div class="research-text">
                            <h2 class="research-heading">
                                3. Research Binder
                            </h2>
                            <p class="research-para"><b>Research Binders are optional but highly recommended,
                                    especially since many conferences do not allow the use of technology in committee.
                                    An
                                    organized Research Binder will be your go-to resource during the conference as new
                                    terms
                                    and acronyms, previous resolutions and treaties, and possible solutions are
                                    mentioned.
                                    Here is a suggested list of <a
                                        href="https://bestdelegate.com/mun-research-made-easy-15-things-every-delegate-should-have-in-their-research-binder/"
                                        class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">15
                                        things every delegate should have for their Research Binder.</a></b>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="seventh-page">
            <div class="resolution-country-layout">

                <div class="r-c-layout">

                    <div class="resolution-layout" style="margin-top: 60px;">

                        <div class="r-c-container">
                            <div class="r-c-con">
                                <h2 class="resolution-heading">4. How
                                    to Write a Resolution
                                </h2>
                                <p class="resolution-para"><b>Delegates will be writing a document
                                        called a Resolution in committee along with other countries that they will
                                        be working with. It’s important to know the resolution format and phrases,
                                        but most conferences do not allow pre-written resolutions since they want
                                        countries to collaborate together during the committee. For more specific
                                        details, check out <a
                                            href="https://bestdelegate.com/model-un-made-easy-how-to-write-a-resolution/"
                                            class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">How
                                            to Write a Resolution</a>.</b>
                                </p>
                            </div>
                        </div>
                        <div class="r-c-container-empty">
                            <div class="r-c-con"></div>
                        </div>

                    </div>

                    <div class="resolution-layout">

                        <div class="r-c-container-empty">
                            <div class="r-c-cont"></div>
                        </div>
                        <div class="r-c-container">
                            <div class="r-c-con">
                                <h2 class="resolution-heading">5.Country Profile
                                </h2>
                                <p class="resolution-para"><b>The <a
                                            href="https://bestdelegate.com/wp-content/uploads/2011/09/Best-Delegate-Country-Profile.pdf"
                                            class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2">Country
                                            Profile</a> is a worksheet to help you understand your country and may
                                        not necessarily be required by your conference. If required, Country
                                        Profiles are usually due at the same time as the Position Paper.</b>
                                </p>
                            </div>
                        </div>


                    </div>




                </div>

            </div>
        </section>
        <%- include("partials/footer")%>
</body>

</html>