*{
    margin: 0;
}



.video-page{
    min-height: 100vh;
    overflow: hidden;
}

.video-cover{
    position: absolute;
    width: 100%;
}

.iframe{
    position: absolute;
    width: 178%;
    height: 178%;
    top: -39%;
    left: -39%;
}

.opacity{
    color: #ffffff;
    background-color: #6b4748;
    height: 100vh;
    overflow: hidden;
    position: relative;
    opacity: 0.6;
}

.head-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.expanded-bg{
    height: 447px;
    color: #ffffff;
    background-color: #292d33;
}

.prep-img{
    width: 100%;
    max-width: 750px;
    position: relative;
    height: 540px;
    display: block;
    margin: -344px auto 0;
}

.prep-container{
    min-height: 500px;
    max-width: 610px;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
    height: auto;
    position: relative;
    margin: -253px 15% 60px auto;
    background: #009c9edb;
}

.prep-container-layout{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.prep-heading{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
}

.prep-para{
    line-height: 1.4;
    font-size: 1.5rem;
    margin: 20px 0 0 1px;
}

.position-container{
    min-height: 813px;
    max-width: 1140px; 
    margin: 164px auto 60px;
}

.position-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: fit-content;
    max-width: 100%;
    background: #1c1f21f7;
    color: whitesmoke;
}



.pos-img-container{
    padding: 0 40px 40px;
}

.position-image{
    margin-top: -92px;
    margin-bottom: 0;
    width: 100%;
    box-shadow: 5px -6px 20px 0 rgb(0 0 0 / 25%);
}

.pos-text-container{
    padding: 50px 30px;
}

.position-heading{
    font-size: 3rem;
    font-weight: 700;
    margin: 33px 0 0;
}

.position-para{
    line-height: 2;
    margin: 50px 0 0;
}

.fourth-page{
    min-height: 1199px;
    background-color: #e0e5eb;
}

.fourth-page-bg{
    height: 681px;
    color: #ffffff;
    background-color: #478ac9;
}

.position-point-heading{
    font-weight: 700;
    text-transform: none;
    font-size: 1.5rem;
    max-width: 900px;
    margin: -601px auto 0;
    color: whitesmoke;
    text-align: center;
}

.position-page-container{
    max-width: 754px;
    margin: 59px auto 0px;
}

.position-point-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: fit-content;
    max-width: 100%;
}


.pos-layout-col{
    display: flex;
    flex-direction: column;
}

.pos-cell{
    border: 13px solid transparent;
}

.pos-empty-cell{
    min-height: 152px;
}

.pos-cell-full{
    min-height: 383px;
    flex: 20 0 auto;
}

.pos-container-layout-1{
    width: 100%;
    padding: 30px; 
}

.pos-row1-cell{
    border-radius: 30px;
    padding: 30px 9px;
    background: white;
    height: 383px;
    text-align: center;
    line-height: 1.5;
    font-size: 1.2rem;
}

.pos-icon{
    height: 78px;
    width: 78px;
    background-image: none;
    margin: 0 auto;
    padding: 18px;
    background-color: #478ac9;
    border-radius: 50%;
}

.icon-img{
    width: 60px;
    height: 60px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -32px);
}


.position-pnt-heading{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.125rem;
    margin: 25px 11px 0 20px;
}

.position-pnt-para{
    margin: 15px 20px 0;
    font-style: italic;
}


.fifth-page{
    background-image: url(../logo/speech-bg.jpg);
    background-position: 50% 50%;
    height: 100vh;
    background-size: cover;
}

.opening-container{
    max-width: 1140px;
    margin: 0 auto;
}

.opening-speech-box{
    max-width: 508px;
    min-height: 509px;
    height: auto;
    display: inline-block;
    background-color: #00000040;
}

.os-heading{
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: none;
    font-size: 2.25rem;
    margin: 5px 0 0;
    color: #db545a !important;
}

.os-para{
    font-size: 1rem;
    margin: 40px 0 0;
    line-height: 1.5;
    color: whitesmoke;
}

.sixth-page{
    background-image: url(./images/31714129-cd8b-8b42-9c59-6efdc7b326c3.jpg);
    background-position: 50% 50%;
    min-height: 703px;
    background-size: cover;
}

.research-page{
    max-width: 1300px;
    margin: 0 auto 0 0;
}

.research-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: fit-content;
    max-width: 100%;
}

.research-img{
    width: 100%;
    background-image: url(images/-min2.jpg);
    background-position: 50% 50%;
}



.research-text{
    padding: 50px 23px;
}

.research-heading{
    font-size: 2.75rem;
    font-weight: 700;
    margin: 33px 7px 0;
}

.research-para{
    line-height: 2;
    font-size: 1.125rem;
    margin: 35px 7px 0;
}

.seventh-page{
    color: #ffffff;
    background-color: #2c2e2e;
}

.resolution-country-layout{
    max-width: 1140px;
    width: 100%;
    min-height: 706px;
    margin: 0 auto;
}

.r-c-layout{
    display: flex;
    flex-direction: column;
}

.resolution-layout{
    flex-direction: row;
    flex-wrap: wrap;
    min-height: fit-content;
    max-width: 100%;
    display: flex;
    margin: 25px 10px 20px 10px;
}

.r-c-container{
    width: 100%;
}

.r-c-container-empty{
    width: 100%;
}

.rc-con{
    padding: 30px 0 30px 30px;
}

.resolution-heading{
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700;
    font-size: 2rem;
}

.resolution-para{
    font-size: 1rem;
    margin: 19px auto 0 0;
    line-height: 1.5;
}

@media (max-width: 700px) {
    .head-title{
        font-size: 3.2rem;
    }

    .prep-container{
        margin: -253px 5px 60px 5px;
    }
    
}

@media (min-width: 700px) {
    .head-title{
        font-size: 5rem;
    }

    .prep-container{
        margin: -253px 15% 60px auto;
    }

    .pos-layout-row{
        max-width: 50%;
        min-height: 590px;
    }
    .position-image{
        height: 630px;
    }


    .opening-speech-box{
        margin: 175px auto 60px 0;
    }

    .research-img{
        max-width: 61.66666667%;
        min-height: 703px;
    }

    .research-text-layout{
        max-width: 38.33333333%;
        width: 100%;
        min-height: 243px;
    }
    

    .r-c-container{
        max-width: 58.33333333%;
    }

    .r-c-container-empty{
        max-width: 41.66666667%;
    }

    .pos-con{
        width: 50%;
    }
}