.width-1140{
    max-width: 1140px;
    margin: auto;
}

.margin-TopBottom-60{
    min-height: 530px;
    margin: 60px auto 60px 0;
}
.schedule-sec{
    font-size: 1.25rem;
}


.dis-flex{
    display: flex;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f1f1f1;
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}



.tab button:hover {
  background-color: #ddd;
}



.tab button.active {
  background-color: rgb(255, 255, 255);
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}